# Object Storage
BUCKET_NAME
ENDPOINT_URL
ACCESS_KEY_ID
ACCESS_KEY_SECRET

# Database
DATABASE_URL

# ENV-AUTH
KEY

# Better-Auth
BETTER_AUTH_SECRET
BETTER_AUTH_URL

# O-auth
DISCORD_CLIENT_ID
DISCORD_CLIENT_SECRET
GITHUB_CLIENT_ID
GITHUB_CLIENT_SECRET
GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET

# OpenAI APIKEY
OPENAI_APIKEY